<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Jenkins Test Suite">
    <test name="C2421">
        <parameter name="browser" value="chrome"></parameter>
        <classes>
            <class name="netahsilatUI.tests.hesapBakiyeleri.C2421"></class>
        </classes>
    </test>
</suite>