<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="All Tests Paralel Execution" parallel="tests" thread-count="2">

    <test name="Tests on Chrome1">
        <parameter name="browser" value="chrome"></parameter>
        <classes>
            <class name="netahsilatUI.tests.hesapBakiyeleri.HesapBakiyeleri"></class>
        </classes>
    </test>
    <test name="Tests on Chrome2">
        <parameter name="browser" value="chrome"></parameter>
        <classes>
            <class name="netahsilatUI.tests.genel.Genel"></class>
        </classes>
    </test>

</suite>